[Unit]
Description=WOL activate on enp2s0
After=network.target

[Service]
ExecStart=/usr/bin/bash '/mnt/raid/soft/linux/scripts/wakeonlanconfig.bash'
Type=simple

[Install]
WantedBy=multi-user.target
